<section class="form-container">
  <a href="/profile/{{currentUser.name}}/new-message"></a>
  <h2>New Message</h2>
  <form action="/message" method="post" class="message-form">
    <p class="input-field">
      <textarea name="message[content]" cols="30" rows="10" placeholder="Message"></textarea>
    </p>
    <p class="input-field">
      <input type="submit" value="Message" class="btn btn-default">
    </p> 
    {{#if message}}
    <p class="alert">{{message}}</p>
    {{/if}}
  </form>
</section>
{{!-- if message sent successfully, req.flash message "Message Sent" --}}