  <h2>Create Profile:</h2>

  {{#if message}}
    <p class="alert">{{message}}</p>
  {{/if}}
  
  <form action="/signup" method="POST" class="auth-form">
   <p class="input-field">
      <input type="number" name="zipcode" placeholder="Zipcode">
    </p>
    <p class="input-field">
      <textarea name="bio" placeholder="Tell us about yourself...">
    </p>
    <h4>Interests</h4>
    <p class ="input-field checkboxes">
      <input type="checkbox" value="My dog is looking for a friend" name="interests">My dog is looking for a friend</br>
      <input type="checkbox" value="I'm looking for a friend" name="interests">I'm looking for a friend</br>
    </p>
    <p class="input-field">
      <input type="submit" value="Create Profile" class="btn btn-default">
    </p>
  </form>
