<section class="row">
  <h4>Create Profile:</h4>

  {{#if message}}
    <p class="alert">{{message}}</p>
  {{/if}}
  
  <form action="/signup" method="POST" class="auth-form">
   <p class="input-field">
      <input type="location" name="zipcode" placeholder="Zipcode">
    </p>
    <p class="input-field">
      <textarea name="bio" placeholder="Tell us about yourself...">
    </p>
    <p class ="input-field">
      <input type="checkbox" value="My dog is looking for a friend" name="interests">My dog is looking for a friend</br>
    </p>
    <p class ="input-field">
      <input type="checkbox" value="I'm looking for a friend" name="interests">I'm looking for a friend</br>
    </p>
    <p class="input-field">
      <input type="submit" value="Create Profile" class="btn waves-effect waves-light">
    </p>
  </form>
</section>