<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>DoggyDate</title>
    <link rel="stylesheet" href="public/stylesheets/styles.css">
  </head>
  <body>
    <header class="site-header">
      <nav>
        <div class="nav-wrapper">
          <ul class="right">
          {{#if currentUser}}
            <li><a href="/search/">Search</a></li>
            <li><a href="/user/{{currentUser.id}}">My Profile</a></li>
            <li><a href="/user/logout">Log Out</a></li>
            <li><a href="/profile/profileForm">Settings</a></li>
          {{else}}
            <li><a href="/users/login">Log In</a></li>
            <li><a href="/users/signup">Sign Up</a></li>
          {{/if}}
          </ul>
        </div>
      </nav>
    </header>
    <main class="container">
      {{{ body }}}
    </main>
  </body>
</html>



