ul {
    text-align: left;
}
li {
    display: inline-block;
    margin: 15px 10px 10px 10px;
    font-size: 20px;
}

.loginForm {
    margin-top: 4vh;
    width: 30%;
}

.logo {
    font-size: 40px;
    text-align: right;
    width: 30vw;
    float: right;
    margin-right: 20px;
    font-family: 'Comfortaa', cursive;
    margin-top: -25px;
}

.login {
    margin-top: 9vh;
}

.welcome {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 30px;
    line-height: 1;
}

.signupForm {
    width: 45vw;
}

.button {
    background-color: #CBDBD6;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    /* border-color: black; */
}

img {
    height: 200px;
    width: 200px;
    margin: 10px 0;
}

.linkTo a {
    display: block;
    line-height: 1.5;
    font-size: 20px;
}

.profile-content {
    margin-left: 10vh;
}