<section class="row">
  <h2>Create a Profile for Your Dog:</h2>

  {{#if message}}
    <p class="alert">{{message}}</p>
  {{/if}}
  
  <form action="/dogs" method="post" class="auth-form" enctype="multipart/form-data">
    <p class="input-field">
      <input type="text" name="name" placeholder="Name" id="name">
    </p>
    <p class="input-field">
      <textarea name="additionalInfo" ></textarea>
    </p>
    <p class ="input-field">
      <input type="text" name="weight" placeholder="Weight" id="weight">
    </p>
    <p class ="input-field">
      <input type="text" name="breed" placeholder="Breed" id="breed">
    </p>
    <p class ="input-field">
      <input type="number" name="age" placeholder="Age" id="age">
    </p>
    <p class ="input-field">
     <input name="avatar" type="file" />
    </p>
    <p class="input-field">
      <input type="submit" value="Create Profile" class="btn btn-default button">
    </p>
  </form>
</section>